.ex-1-square {
    transition: 3s;
}
.ex-1-square:hover {
    background: red;
}

.ex-2-square {
    transition: 3s;
}
.ex-2-square:active {
    background: red;
    width: 100%;
}

.ex-3-square {
    transition: 3s;
}
.ex-3-square:active {
    background: red;
    border-radius: 50%;
}