.ex-1-square {
    transition: 3s;
}
.ex-1-square:hover {
    background: red;
}

.ex-2-square {
    transition: 3s;
}
.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    transition: 3s;
}
.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    transition: 3s;
}
.ex-4-square:hover {
   opacity: 0;
}

.ex-5-square {
    transition: 3s;
}
.ex-5-square:hover {
    transform: scale(2);
}
.ex-5-square:active {
    transform: scale(0.5);
}

.ex-6-img {
    transition: 2s;
}
.ex-6-img:hover {
    filter: grayscale(100%);
}

.ex-7-img {
    transition: 5s;
}
.ex-7-img:hover {
    filter: grayscale(100%) invert(100%);
}

.ex-8-img {
    transition: 2s;
}
.ex-8-img:hover {
    filter: saturate(8) blur(2px);
    border-radius: 50px;
}

.ex-9-img {
    transition: 2s;
}
.ex-9-img:hover {
    filter: sepia(100%) drop-shadow(5px 5px 20px blue);
    border-radius: 100px;
    transform: scale(1.5);
}