.ex-1-square {
    transition: 3s;
}
.ex-1-square:hover {
    background: red;
}

.ex-2-square {
    transition: 3s;
}
.ex-2-square:active {
    width: 100%;
}

.ex-3-square {
    transition: 3s;
}
.ex-3-square:hover {
    border-radius: 50%;
}

.ex-4-square {
    transition: 3s;
}
.ex-4-square:hover {
   opacity: 0;
}

.ex-5-square {
    transition: 3s;
}
.ex-5-square:hover {
    transform: scale(2);
}
.ex-5-square:active {
    transform: scale(0.5);
}

.ex-6-img {
    transition: 2s;
}
.ex-6-img:hover {
    filter: grayscale(100%);
}

.ex-7-img {
    transition: 5s;
}
.ex-7-img:hover {
    filter: grayscale(100%) invert(100%);
}

.ex-8-img {
    transition: 2s;
}
.ex-8-img:hover {
    filter: saturate(8) blur(2px);
    border-radius: 50px;
}

.ex-9-img {
    transition: 2s;
}
.ex-9-img:hover {
    filter: sepia(100%) drop-shadow(5px 5px 20px blue);
    border-radius: 100px;
    transform: scale(1.5);
}

.ex-10-icon {
    animation-name: ruota;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes ruota{
    0% {
        transform: rotate(1turn);
    }
}

.ex-11-icon:hover {
    animation: ruota-trequarti;
    animation-duration: 5s;
    animation-timing-function: linear;
}

@keyframes ruota-trequarti {
    0% {
        transform: rotate(0);
    }
    90% {
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0);
    }
}

.ex-12-button:hover .ex-12-top-white {
    animation: movetop;
    animation-duration: 2s;
    animation-timing-function: linear;
}
@keyframes movetop {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}